*{
    padding: 0;
    margin: 0;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Patrick Hand', cursive;
}
body{
    background: url(img/bg3.jpeg);
}
.present{
    float: left;
    width: 30%;
    padding: 50px;
    margin: 50px;
    height: 700px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    border-radius: 30px;
}
.present img{
    width: 30%;
    margin-bottom: 40%;
}
.present h2, p{
    color: white;
    text-align: center;
}
p{
    font-size: 20px;
}
.formulario{
    width: 30%;
    padding: 50px;
    margin: 50px;
    background-color: white;
    border-radius: 30px;
    float: right;
    box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.35);

}
h2{
    font-size: 30px;
    text-align: center;
}
.formulario label{
    color: rgb(109, 109, 109);
    font-size: 17px;
}
input[type="text"], input[type="number"],
input[type="tel"], input[type="email"], input[type="search"]{
    padding: 10px;
    width: 100%; 
    background-color: rgb(241, 241, 241) ;
    border: 1px solid rgb(167, 167, 167);
    font-family: Arial;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
}
input[type="search"]{
    width: 103%;
}
select{
    width: 103%;
    padding: 10px;
    background-color: rgb(241, 241, 241) ;
    border: 1px solid rgb(167, 167, 167);
    font-family: Arial;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.boton{
    background-color: red;
    color: white;
    border: none;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    width: 103%;
}
@media only screen and (max-width: 1000px){
    .present{
        float: top;
        height: 100%;
        width: 70%;
    }
    .present img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
    }
    .formulario{
        margin: 2%;
        float: none;
        width: 78%;
    }
}
@media only screen and (max-width: 550px){
    .present{
        margin: 5%;
    }
    .formulario :only-child{
        width: 100%;
        padding: 10px;
    }
}